*{
    padding: 0;
    margin: 0;
}


main{
    margin: 0; /* Remove a margem padrão */
    height: 100vh; /* Define a altura do body como 100% da altura da viewport */
    background-image: url("/templates/img/fundo\ pica.svg"); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}